.page-layout {
  padding: 32px;
  height: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  gap: 1rem;

  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
  }
}
