.selector {
  display: flex;
  align-items: center;
  gap: 8px;

  &__left {
    flex-direction: row;
  }

  &__right {
    flex-direction: column;
  }

  &__label {
    margin-right: 8px;
    margin-bottom: 0;
  }

  &__right &__label {
    margin-right: 0;
    margin-bottom: 8px;
  }

  &__select {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 6px;
	:hover {
		cursor: pointer;
	}

    option {
      cursor: pointer;
    }
    option:hover {
      background: #e0e0e0;
    }
  }
}
