.recipe-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__input {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc;
      margin-top: 0.25rem;
    }
  }
}

.recipe-page_buttons {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background: #0070f3;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.recipe-page_buttons:disabled {
  background: #ccc;
}
.result {
  margin-top: 2rem;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 0.5rem;
}
.error {
  color: #d00;
  font-weight: bold;
}
