.recipe-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  &__title{
    width: 100%;
    display: flex;
    flex:1;
    justify-content: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__input {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc;
      margin-top: 0.25rem;
    }
  }
}

.result {
  margin-top: 2rem;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 0.5rem;
}
.error {
  color: #d00;
  font-weight: bold;
}
