.table {
  width: 100%;
  border-collapse: collapse;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__header {
    display: flex;
    background: #fafafa;
    border-bottom: 1px solid #eee;
  }

  &__headerCell {
    font-weight: bold;
    padding: 8px;
    font-size: 1rem;
    text-align: left;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    border-bottom: 1px solid #eee;
    transition: background 0.15s;

    &:hover {
      background: #f5f5f5;
	  cursor: pointer;
    }
  }

  &__cell {
    padding: 8px;
    font-size: 1rem;
    min-width: 0;
    display: flex;
    align-items: center;
    word-break: break-word;
  }

  &__cell_left {
    text-align: left;
  }

  &__cell_center {
    text-align: center;
  }
}
