.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  font-size: 1.25rem;
  color: #222;
  flex-direction: column;
}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.header__icon {
  margin: 0 0.25rem;
  font-size: 2rem;
  vertical-align: middle;
}

.header__text {
  font-weight: 600;
  vertical-align: middle;
}
