.home-page {
  padding: 1rem;
  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: #0a0a0a;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__buttons {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background: #0070f3;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
