.settings-page {
  &__top {
    width: 100%;
    display: flex;
	flex-direction: column;
	align-items: flex-strat;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &__bot {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
