.button {
  &--default {
    border-radius: 0.5rem;
    background: #0070f3;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    &:hover:not(:disabled):not(.button--disabled) {
      background: #339cff;
    }
    &--small {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
    &--medium {
      padding: 0.75rem 1.5rem;
      font-size: 1.1rem;
    }
    &--large {
      padding: 1rem 2rem;
      font-size: 1.25rem;
    }
  }
  &--round {
    border-radius: 50%;
    background: #0070f3;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:hover:not(:disabled):not(.button--disabled) {
      background: #339cff;
    }
    &--small {
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
    }
    &--medium {
      width: 2.75rem;
      height: 2.75rem;
      font-size: 1.75rem;
    }
    &--large {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 2rem;
    }
  }
  &--red {
    background: #e53935;
    color: #fff;
    border: none;
    &:hover:not(:disabled):not(.button--disabled) {
      background: #b71c1c;
    }
    &--small {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
    &--medium {
      padding: 0.75rem 1.5rem;
      font-size: 1.1rem;
    }
    &--large {
      padding: 1rem 2rem;
      font-size: 1.25rem;
    }
  }
  &--disabled {
    background: #ccc !important;
    color: #fff !important;
    cursor: not-allowed !important;
    opacity: 0.7;
    pointer-events: none;
  }
}

button:disabled {
  background: #ccc !important;
  color: #fff !important;
  cursor: not-allowed !important;
  opacity: 0.7;
  pointer-events: none;
}
