.recipe-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  &__title {
    font-size: 2rem;
    font-weight: bold;
  }
  &__top {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 2rem;
  }
  &__bot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
	gap: 1rem;
  }
  &__subtitle {
    font-weight: bold;
  }
  &__btn {
    max-width: 200px;
  }
  &__steps {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.recipe-detail__ingredients-text {
  word-break: break-word;
  white-space: pre-line;
  display: block;
}
